In [182]:
# !pip install langdetect

In [183]:
import pandas as pd
from langdetect import detect
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns; sns.set()
import csv

In [185]:
df_reviews = pd.read_csv('reviews.csv')

print(df_reviews.columns)

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [186]:
clean_reviews = df_reviews.drop(["date", "reviewer_id"], axis=1)
print(clean_reviews.columns)

Index(['listing_id', 'id', 'reviewer_name', 'comments'], dtype='object')

In [187]:
clean_reviews['comments'] = clean_reviews['comments'].str.lower()
print(clean_reviews.head())

   listing_id      id         reviewer_name  \
0       44077  203703             Christian
1       44077  211369               Solidea
2       44077  234215  Michael And Isabelle
3       44077  261843                Weston
4       44077  268148               Barbara

                                            comments
0  we enjoyed our stay very much. the room was co...
1  we have been here 4 nights. stay in a home is ...
2  teresa and hughie were great hosts. they were ...
3  no surprises, was as described.  very gracious...
4  teresa was a lovely hostess, and we had a deli...

In [188]:
# def det(x):
#     try:
#         return detect(x)
#     except:
#         return 'unknown'

# clean_reviews['Lang'] = clean_reviews['comments'].apply(det)
# clean_reviews.head()

In [189]:
# clean_reviews = clean_reviews[clean_reviews["Lang"] == "en"].drop(["Lang"], axis=1)
# print(clean_reviews.info())

In [190]:
# clean_reviews.to_csv('clean_review.csv',index = False)

In [191]:
clean_reviews = pd.read_csv('clean_review.csv')
# clean_reviews = clean_reviews[['listing_id', 'comments']]
clean_reviews.head()

   listing_id                                           comments
0       44077  we enjoyed our stay very much. the room was co...
1       44077  we have been here 4 nights. stay in a home is ...
2       44077  teresa and hughie were great hosts. they were ...
3       44077  no surprises, was as described.  very gracious...
4       44077  teresa was a lovely hostess, and we had a deli...

In [433]:
df_listing = pd.read_csv('listings.csv')

In [434]:
df_listing = df_listing.drop(["listing_url", "scrape_id", "last_scraped", "source", "name", "picture_url", "host_id", "host_name", "host_url", "host_thumbnail_url", "host_picture_url", "neighbourhood_group_cleansed", "bathrooms", "license"], axis=1)

df_listing=df_listing.drop(['neighborhood_overview', 'host_response_time', 'host_acceptance_rate', 'neighbourhood','neighbourhood_cleansed', 'host_since', 'host_location','calendar_updated','calendar_last_scraped'],axis=1)

In [435]:
df_listing.columns.size

52

In [436]:
X=df_listing.loc[:,['id','latitude','longitude']]
X.head(10)

       id  latitude  longitude
0   44077  53.29178   -6.25792
1   85156  53.29209   -6.25624
2  159889  53.39027   -6.23547
3  162809  53.28326   -6.19188
4  165828  53.33744   -6.32363
5  165829  53.33744   -6.32363
6  178860  53.33281   -6.26750
7  181823  53.33740   -6.22061
8  237465  53.39558   -6.17524
9  245903  53.34636   -6.41734

In [437]:

# K_clusters = range(1,10)
# kmeans = [KMeans(n_clusters=i) for i in K_clusters]
# Y_axis = X[['latitude']]
# X_axis = X[['longitude']]
# score = [kmeans[i].fit(Y_axis).score(Y_axis) for i in range(len(kmeans))]# Visualize
# plt.plot(K_clusters, score)
# plt.xlabel('Number of Clusters')
# plt.ylabel('Score')
# plt.title('Elbow Curve')
# plt.show()

In [438]:
kmeans = KMeans(n_clusters = 7, init ='k-means++')
kmeans.fit(X[X.columns[1:3]]) # Compute k-means clustering.
X['cluster_label'] = kmeans.fit_predict(X[X.columns[1:3]])
centers = kmeans.cluster_centers_ # Coordinates of cluster centers.
labels = kmeans.predict(X[X.columns[1:3]]) # Labels of each point
X.head(10)

       id  latitude  longitude  cluster_label
0   44077  53.29178   -6.25792              1
1   85156  53.29209   -6.25624              1
2  159889  53.39027   -6.23547              4
3  162809  53.28326   -6.19188              1
4  165828  53.33744   -6.32363              6
5  165829  53.33744   -6.32363              6
6  178860  53.33281   -6.26750              6
7  181823  53.33740   -6.22061              4
8  237465  53.39558   -6.17524              5
9  245903  53.34636   -6.41734              3

In [439]:
# X.plot.scatter(x = 'latitude', y = 'longitude', c=labels, s=50, cmap='viridis')
# plt.scatter(centers[:, 0], centers[:, 1], c='black', s=200, alpha=0.5)

In [440]:
df_listing = df_listing.merge(X, left_on='id', right_on='id')
# df_listing.head(5)

In [441]:
df_listing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7566 entries, 0 to 7565
Data columns (total 55 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7566 non-null   int64
 1   description                                   7411 non-null   object
 2   host_about                                    3556 non-null   object
 3   host_response_rate                            3932 non-null   object
 4   host_is_superhost                             7566 non-null   object
 5   host_neighbourhood                            5234 non-null   object
 6   host_listings_count                           7566 non-null   int64
 7   host_total_listings_count                     7566 non-null   int64
 8   host_verifications                            7566 non-null   object
 9   host_has_profile_pic                          7566 non-null   object
 10  host_identity_verified                        7566 non-null   object
 11  latitude_x                                    7566 non-null   float64
 12  longitude_x                                   7566 non-null   float64
 13  property_type                                 7566 non-null   object
 14  room_type                                     7566 non-null   object
 15  accommodates                                  7566 non-null   int64
 16  bathrooms_text                                7562 non-null   object
 17  bedrooms                                      7361 non-null   float64
 18  beds                                          7472 non-null   float64
 19  amenities                                     7566 non-null   object
 20  price                                         7566 non-null   object
 21  minimum_nights                                7566 non-null   int64
 22  maximum_nights                                7566 non-null   int64
 23  minimum_minimum_nights                        7566 non-null   int64
 24  maximum_minimum_nights                        7566 non-null   int64
 25  minimum_maximum_nights                        7566 non-null   int64
 26  maximum_maximum_nights                        7566 non-null   int64
 27  minimum_nights_avg_ntm                        7566 non-null   float64
 28  maximum_nights_avg_ntm                        7566 non-null   float64
 29  has_availability                              7566 non-null   object
 30  availability_30                               7566 non-null   int64
 31  availability_60                               7566 non-null   int64
 32  availability_90                               7566 non-null   int64
 33  availability_365                              7566 non-null   int64
 34  number_of_reviews                             7566 non-null   int64
 35  number_of_reviews_ltm                         7566 non-null   int64
 36  number_of_reviews_l30d                        7566 non-null   int64
 37  first_review                                  6209 non-null   object
 38  last_review                                   6209 non-null   object
 39  review_scores_rating                          6209 non-null   float64
 40  review_scores_accuracy                        6085 non-null   float64
 41  review_scores_cleanliness                     6086 non-null   float64
 42  review_scores_checkin                         6081 non-null   float64
 43  review_scores_communication                   6085 non-null   float64
 44  review_scores_location                        6081 non-null   float64
 45  review_scores_value                           6079 non-null   float64
 46  instant_bookable                              7566 non-null   object
 47  calculated_host_listings_count                7566 non-null   int64
 48  calculated_host_listings_count_entire_homes   7566 non-null   int64
 49  calculated_host_listings_count_private_rooms  7566 non-null   int64
 50  calculated_host_listings_count_shared_rooms   7566 non-null   int64
 51  reviews_per_month                             6209 non-null   float64
 52  latitude_y                                    7566 non-null   float64
 53  longitude_y                                   7566 non-null   float64
 54  cluster_label                                 7566 non-null   int32
dtypes: float64(16), int32(1), int64(21), object(17)
memory usage: 3.2+ MB

In [442]:
df_listing['host_response_rate'] = df_listing['host_response_rate'].str.replace('%', '')

In [443]:
df_listing['host_response_rate'] = df_listing['host_response_rate'].astype(float)

In [444]:
# fig, ax = plt.subplots(figsize=(10,6))
# sns.distplot(df_listing.host_response_rate)

# fig, ax = plt.subplots(figsize=(10,6))
# sns.distplot(df_listing.review_scores_rating)

# fig, ax = plt.subplots(figsize=(10,6))
# sns.distplot(df_listing.review_scores_accuracy)

# fig, ax = plt.subplots(figsize=(10,6))
# sns.distplot(df_listing.review_scores_cleanliness)

# fig, ax = plt.subplots(figsize=(10,6))
# sns.distplot(df_listing.review_scores_checkin)

# fig, ax = plt.subplots(figsize=(10,6))
# sns.distplot(df_listing.review_scores_communication)

# fig, ax = plt.subplots(figsize=(10,6))
# sns.distplot(df_listing.review_scores_location)

# fig, ax = plt.subplots(figsize=(10,6))
# sns.distplot(df_listing.review_scores_value)

In [445]:
# mean_value_1=round(df_listing['host_response_rate'].mean(),3)

# mean_value_2=round(df_listing['review_scores_rating'].mean(),3)

# mean_value_3=round(df_listing['review_scores_accuracy'].mean(),3)

# mean_value_4=round(df_listing['review_scores_cleanliness'].mean(),3)

# mean_value_5=round(df_listing['review_scores_checkin'].mean(),3)

# mean_value_6=round(df_listing['review_scores_communication'].mean(),3)

# mean_value_7=round(df_listing['review_scores_location'].mean(),3)

# mean_value_8=round(df_listing['review_scores_value'].mean(),3)

In [446]:
# df_listing['host_response_rate'].fillna(value=mean_value_1, inplace=True)
# df_listing['review_scores_rating'].fillna(value=mean_value_2, inplace=True)
# df_listing['review_scores_accuracy'].fillna(value=mean_value_3, inplace=True)
# df_listing['review_scores_cleanliness'].fillna(value=mean_value_4, inplace=True)
# df_listing['review_scores_checkin'].fillna(value=mean_value_5, inplace=True)
# df_listing['review_scores_communication'].fillna(value=mean_value_6, inplace=True)
# df_listing['review_scores_location'].fillna(value=mean_value_7, inplace=True)
# df_listing['review_scores_value'].fillna(value=mean_value_8, inplace=True)

In [447]:
# df_temp = df_listing.copy
df_temp = df_listing.loc[:,['bedrooms','beds','host_response_rate','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value']]

In [448]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

In [449]:
linearreg = LinearRegression()
imp = IterativeImputer(estimator=linearreg,missing_values=np.nan, max_iter=100, verbose=2, imputation_order='roman',random_state=0)
ImputedData=imp.fit_transform(df_temp)

[IterativeImputer] Completing matrix with shape (7566, 10)
[IterativeImputer] Ending imputation round 1/100, elapsed time 0.04
[IterativeImputer] Change: 21.876714289137894, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 2/100, elapsed time 0.07
[IterativeImputer] Change: 53.48917342779304, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 3/100, elapsed time 0.10
[IterativeImputer] Change: 26.355666747540482, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 4/100, elapsed time 0.13
[IterativeImputer] Change: 5.828909657046552, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 5/100, elapsed time 0.16
[IterativeImputer] Change: 4.791921583076487, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 6/100, elapsed time 0.18
[IterativeImputer] Change: 5.229434752476209, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 7/100, elapsed time 0.21
[IterativeImputer] Change: 4.488908710416439, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 8/100, elapsed time 0.24
[IterativeImputer] Change: 3.629839612443618, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 9/100, elapsed time 0.28
[IterativeImputer] Change: 2.92328184932353, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 10/100, elapsed time 0.30
[IterativeImputer] Change: 2.3982524256115596, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 11/100, elapsed time 0.33
[IterativeImputer] Change: 2.0209821506694254, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 12/100, elapsed time 0.36
[IterativeImputer] Change: 1.7491645324639649, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 13/100, elapsed time 0.39
[IterativeImputer] Change: 1.54765601786346, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 14/100, elapsed time 0.43
[IterativeImputer] Change: 1.3913872657495006, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 15/100, elapsed time 0.45
[IterativeImputer] Change: 1.2639974011128743, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 16/100, elapsed time 0.48
[IterativeImputer] Change: 1.1554444899247187, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 17/100, elapsed time 0.51
[IterativeImputer] Change: 1.059827183701799, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 18/100, elapsed time 0.54
[IterativeImputer] Change: 0.9737672049879222, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 19/100, elapsed time 0.58
[IterativeImputer] Change: 0.8953371292676309, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 20/100, elapsed time 0.61
[IterativeImputer] Change: 0.8234032650808274, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 21/100, elapsed time 0.64
[IterativeImputer] Change: 0.7572471572214994, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 22/100, elapsed time 0.68
[IterativeImputer] Change: 0.6963591954035877, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 23/100, elapsed time 0.71
[IterativeImputer] Change: 0.6403320166544688, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 24/100, elapsed time 0.75
[IterativeImputer] Change: 0.5888087363799173, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 25/100, elapsed time 0.78
[IterativeImputer] Change: 0.541459783210513, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 26/100, elapsed time 0.81
[IterativeImputer] Change: 0.49797381874824964, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 27/100, elapsed time 0.84
[IterativeImputer] Change: 0.4580550751459498, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 28/100, elapsed time 0.86
[IterativeImputer] Change: 0.4214232559599367, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 29/100, elapsed time 0.89
[IterativeImputer] Change: 0.3878141773971606, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 30/100, elapsed time 0.92
[IterativeImputer] Change: 0.3569803654692265, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 31/100, elapsed time 0.97
[IterativeImputer] Change: 0.32869133107196546, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 32/100, elapsed time 1.00
[IterativeImputer] Change: 0.30273347627324654, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 33/100, elapsed time 1.04
[IterativeImputer] Change: 0.2789096795874002, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 34/100, elapsed time 1.09
[IterativeImputer] Change: 0.2570386371741904, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 35/100, elapsed time 1.12
[IterativeImputer] Change: 0.23695403714323504, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 36/100, elapsed time 1.15
[IterativeImputer] Change: 0.21850363325640387, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 37/100, elapsed time 1.18
[IterativeImputer] Change: 0.20154827032901323, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 38/100, elapsed time 1.22
[IterativeImputer] Change: 0.18596090047850566, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 39/100, elapsed time 1.25
[IterativeImputer] Change: 0.1716256180760496, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 40/100, elapsed time 1.28
[IterativeImputer] Change: 0.15843673227115573, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 41/100, elapsed time 1.32
[IterativeImputer] Change: 0.14629788902422547, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 42/100, elapsed time 1.36
[IterativeImputer] Change: 0.1351212494735563, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 43/100, elapsed time 1.41
[IterativeImputer] Change: 0.12482672769607461, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 44/100, elapsed time 1.47
[IterativeImputer] Change: 0.11534128831149815, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 45/100, elapsed time 1.52
[IterativeImputer] Change: 0.10659830260206604, scaled tolerance: 0.1
[IterativeImputer] Ending imputation round 46/100, elapsed time 1.57
[IterativeImputer] Change: 0.09853696060501704, scaled tolerance: 0.1
[IterativeImputer] Early stopping criterion reached.

In [450]:
# df_temp['host_response_rate'].isna().sum()
ImputedData = pd.DataFrame(ImputedData)

In [451]:
# !pip install miceforest
# !pip install missingpy

In [452]:
from sklearn.impute import KNNImputer
knn = KNNImputer(n_neighbors=2)
ImputedData1 = knn.fit_transform(df_temp)
ImputedData1 = pd.DataFrame(ImputedData1)

In [453]:
arr = ['bedrooms','beds','host_response_rate','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value']
i = 0

for ele in arr:
    mean_value_1 = round(df_temp[ele].mean(),3)
    mean_value_2 = round(ImputedData[i].mean(),3)
    mean_value_3 = round(ImputedData1[i].mean(),3)
    i=i+1

    print(mean_value_1,mean_value_2,mean_value_3)

1.524 1.516 1.513
1.833 1.828 1.833
94.378 93.056 86.79
4.603 4.594 4.627
4.777 4.709 4.73
4.646 4.547 4.605
4.829 4.778 4.794
4.844 4.792 4.808
4.732 4.692 4.684
4.615 4.536 4.577

In [ ]:
fig, ax = plt.subplots(figsize=(10,6))
sns.distplot(ImputedData[7])

fig, ax = plt.subplots(figsize=(10,6))
sns.distplot(ImputedData1[7])

fig, ax = plt.subplots(figsize=(10,6))
sns.distplot(df_temp.review_scores_value)

# ['host_response_rate','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin',
# 'review_scores_communication','review_scores_location','review_scores_value']]

In [454]:
arr = ['bedrooms','beds','host_response_rate','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value']
i = 0

for ele in arr:
    df_temp[ele] = ImputedData1[i]
    i=i+1

df_temp

,bedrooms,beds,host_response_rate,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,1.0,2.0,100.0,4.780,4.830,4.740,4.930,4.930,4.660,4.820
1,1.0,1.0,100.0,4.790,4.860,4.740,4.900,4.880,4.640,4.780
2,1.0,1.0,100.0,4.740,4.770,4.710,4.860,4.900,4.630,4.740
3,2.0,4.0,92.0,4.840,4.880,4.850,4.950,4.970,4.770,4.850
4,1.0,3.0,100.0,4.630,4.890,4.690,4.810,4.750,4.340,4.550
...,...,...,...,...,...,...,...,...,...,...
7561,1.0,1.0,100.0,4.765,4.815,4.725,4.880,4.890,4.635,4.760
7562,1.0,1.0,100.0,4.905,4.935,4.890,4.965,4.980,4.800,4.845
7563,2.0,2.0,100.0,4.900,4.935,4.885,4.955,4.975,4.825,4.775
7564,1.0,1.0,100.0,4.765,4.815,4.725,4.880,4.890,4.635,4.760
7565,1.0,2.0,100.0,4.830,4.885,4.810,4.940,4.945,4.800,4.830

In [455]:
for ele in arr:
    df_listing[ele] = df_temp[ele]

df_listing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7566 entries, 0 to 7565
Data columns (total 55 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7566 non-null   int64
 1   description                                   7411 non-null   object
 2   host_about                                    3556 non-null   object
 3   host_response_rate                            7566 non-null   float64
 4   host_is_superhost                             7566 non-null   object
 5   host_neighbourhood                            5234 non-null   object
 6   host_listings_count                           7566 non-null   int64
 7   host_total_listings_count                     7566 non-null   int64
 8   host_verifications                            7566 non-null   object
 9   host_has_profile_pic                          7566 non-null   object
 10  host_identity_verified                        7566 non-null   object
 11  latitude_x                                    7566 non-null   float64
 12  longitude_x                                   7566 non-null   float64
 13  property_type                                 7566 non-null   object
 14  room_type                                     7566 non-null   object
 15  accommodates                                  7566 non-null   int64
 16  bathrooms_text                                7562 non-null   object
 17  bedrooms                                      7566 non-null   float64
 18  beds                                          7566 non-null   float64
 19  amenities                                     7566 non-null   object
 20  price                                         7566 non-null   object
 21  minimum_nights                                7566 non-null   int64
 22  maximum_nights                                7566 non-null   int64
 23  minimum_minimum_nights                        7566 non-null   int64
 24  maximum_minimum_nights                        7566 non-null   int64
 25  minimum_maximum_nights                        7566 non-null   int64
 26  maximum_maximum_nights                        7566 non-null   int64
 27  minimum_nights_avg_ntm                        7566 non-null   float64
 28  maximum_nights_avg_ntm                        7566 non-null   float64
 29  has_availability                              7566 non-null   object
 30  availability_30                               7566 non-null   int64
 31  availability_60                               7566 non-null   int64
 32  availability_90                               7566 non-null   int64
 33  availability_365                              7566 non-null   int64
 34  number_of_reviews                             7566 non-null   int64
 35  number_of_reviews_ltm                         7566 non-null   int64
 36  number_of_reviews_l30d                        7566 non-null   int64
 37  first_review                                  6209 non-null   object
 38  last_review                                   6209 non-null   object
 39  review_scores_rating                          7566 non-null   float64
 40  review_scores_accuracy                        7566 non-null   float64
 41  review_scores_cleanliness                     7566 non-null   float64
 42  review_scores_checkin                         7566 non-null   float64
 43  review_scores_communication                   7566 non-null   float64
 44  review_scores_location                        7566 non-null   float64
 45  review_scores_value                           7566 non-null   float64
 46  instant_bookable                              7566 non-null   object
 47  calculated_host_listings_count                7566 non-null   int64
 48  calculated_host_listings_count_entire_homes   7566 non-null   int64
 49  calculated_host_listings_count_private_rooms  7566 non-null   int64
 50  calculated_host_listings_count_shared_rooms   7566 non-null   int64
 51  reviews_per_month                             6209 non-null   float64
 52  latitude_y                                    7566 non-null   float64
 53  longitude_y                                   7566 non-null   float64
 54  cluster_label                                 7566 non-null   int32
dtypes: float64(17), int32(1), int64(21), object(16)
memory usage: 3.2+ MB